{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section">
    <div class="container is-widescreen">
        {% if name %}
        <h1 class="title">What do you want to search?</h1>
        {% else %}
        <h1 class="title">Hello, World</h1>
        {% endif %}
        <h1 class="py-2 my-2"></h1>
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="has-text-centered" style="margin-bottom: -20px;">
                    <img src="{% static 'tubingen.png' %}" alt="My Image" style="max-height: 800px; width: 200%;">
                </div>
                <form class="form" action="/search/" method="get">
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input class="input is-large" type="text" id="queryField" name="queryField" placeholder="Enter your query">
                        </div>
                        <div class="control">
                            <button class="button is-link is-large" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <h1 class="py-6 my-6"></h1>
        <h1 class="py-6 my-6"></h1>
    </div>
</section>
{% endblock %}
