{% extends "base.html" %}
{% block content %}
    <style>
        .box.has-border {
            border: 1px solid white;
        }
        .input:focus {
            outline-color: #FFA500;
        }
    </style>

    <section class="section">
        <div class="container is-widescreen">
            <h1 class="title">Search Page</h1>

            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="buttons is-centered">
                        <div class="field has-addons">
                            <div class="control">
                                <a class="button is-info" href="{% url 'startpage' %}">
                                    <span class="icon">
                                        <i class="fas fa-arrow-left"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="control is-expanded">
                                <form class="form" action="/search/" method="get">
                                    <div class="field">
                                        <div class="control is-expanded">
                                            <input class="input is-expanded" type="text" id="queryField" name="queryField" value="{{ query }}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="control">
                                <form class="form" action="/search/" method="get">
                                    <div class="control">
                                        <button class="button is-link" type="submit">
                                            <span class="icon">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h6 class="subtitle is-6">You searched for: {{ query }}</h6>

            <div class="columns">
                {% if search_results %}
                    <div class="column is-full">
                        <div class="box has-background-grey-dark has-text-light has-border">
                            <p>{{ search_results.0.1 }}</p>
                            <p>Link: <a href="{{ search_results.0.0 }}">{{ search_results.0.0 }}</a></p>
                            <button class="read-button" data-text="{{ search_results.0.1 }}">Read</button>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="columns is-multiline">
                {% for result in search_results|slice:"1:11" %}
                    <div class="column is-half">
                        <div class="box has-background-grey-dark has-text-light has-border">
                            <p>{{ result.1 }}</p>
                            <p>Link: <a href="{{ result.0 }}">{{ result.0 }}</a></p>
                            <button class="read-button" data-text="{{ result.1 }}">Read</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if show_previous %}
                <form class="form" action="/search/" method="get" style="display:inline;">
                    <input type="hidden" name="queryField" value="{{ query }}">
                    <input type="hidden" name="start_index" value="{{ previous_start_index }}">
                    <button class="button is-link" type="submit">Show Previous 10 Results</button>
                </form>
            {% endif %}

            {% if show_more %}
                <form class="form" action="/search/" method="get" style="display: inline">
                    <input type="hidden" name="queryField" value="{{ query }}">
                    <input type="hidden" name="start_index" value="{{ start_index }}">
                    <button class="button is-link" type="submit">Show {{ remaining_elements }} More Results</button>
                </form>
            {% endif %}
        </div>

    {% for audio_file in audio_files %}
        <audio src="{{ audio_file }}" id="audio{{ forloop.counter }}" preload="auto"></audio>
    {% endfor %}

    <script>
        {#document.addEventListener('DOMContentLoaded', function() {#}
        {#    var speechSynthesis = window.speechSynthesis;#}
        {#    var utterance = new SpeechSynthesisUtterance();#}
        {##}
        {#    utterance.voice = speechSynthesis.getVoices()[0];#}
        {#    utterance.rate = 1;#}
        {##}
        {#    // Attach click event listeners to read buttons#}
        {#    var readButtons = document.getElementsByClassName('read-button');#}
        {#    Array.from(readButtons).forEach(function(button) {#}
        {#        button.addEventListener('click', function() {#}
        {#            var websiteText = this.getAttribute('data-text');#}
        {#            utterance.text = websiteText;#}
        {#            speechSynthesis.speak(utterance);#}
        {#        });#}
        {#    });#}
        {# }); #}
        document.addEventListener('DOMContentLoaded', function() {
            var audioElements = document.querySelectorAll('audio');

            var playButtons = document.getElementsByClassName('play-button');
            Array.from(playButtons).forEach(function(button) {
                button.addEventListener('click', function() {
                    var resultIndex = parseInt(this.getAttribute('data-index'));
                    var audioElement = audioElements[resultIndex];
                    audioElement.play();
                });
            });
        });
    </script>

    </section>
{% endblock %}
